*{
    margin: 0;
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}




.navbar{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}


.navstrong{
    font-weight: 600;
}


.download-resume{
 background-color: white ; 
 padding: 10px;
 border:1px solid gray;
 border-radius: 5px;
 font-weight: 600;
}


.main-section{
    background-image: url(../assets/Hero-bg.png);
    height: 650px;
    text-align: center;
    margin-top: 40px;
}

.hero-section{
    margin-left: 221px;
    margin-right: 221px;
    margin-top: 26px;
    margin-bottom: 45px;
}
.hero-image{
    margin-top: 26px;
    margin-bottom: 32px;
}
.hero-h1{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 35px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 24px;
}

.hero-p{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 32px;
}

.hero-button{
 border-radius: 8px;
background: rgb(13, 19, 33);
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
padding: 21px 24px 21px 24px;
margin-bottom: 45px;
text-decoration: none;

}

.web-development{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin-top: 154px;
    margin-left: 152px;
    margin-right: 148px;
}


.web-development-h2{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
padding-top: 50px;
}

.web-development-p{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin-top: 34px;
margin-bottom: 100px;
}



.coding-section{
border-radius: 16px;
background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
display: flex;
justify-content: space-evenly;
align-items: c;
margin-top: 96px;
margin-bottom: 80px;
}

.code-detail{
    margin-right: 98px;
    width: 477px;
    height: 140px;

}
.code-detail-2{
    margin-left:  98px;
    width: 477px;
    height: 140px;
}
.code-two-img{
    margin-left: 98px;
}



.code-h2{
color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}

.code-p{
margin-top: 36px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}

.learn-more{
color: rgb(13, 19, 33);
background-color: white;
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
padding: 12px 20px 12px 20px;
margin-top: 32px;
}





/* ======================================================= inspiration section css============================ */



.inspiration{
    text-align: center;
    margin-right: 140px;
    margin-left: 140px;
    

}
.inspiration-h2{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
margin-top: 90px;
padding-bottom: 24px;
}

.inspiration-p{
    padding-bottom: 48px;
    
}

.iframe-video{
text-align: center;
margin-bottom: 183px;
box-sizing: border-box;

}

.lang-box{
    display: flex;
    justify-content: center;
    gap: 30px;
}





.lang-box-1{
    width: 300px;
    height: 299px;
    padding: 20px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
.lang-box-2{
    width: 300px;
    height: 299px;
    padding: 20px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
.lang-box-3{
    width: 300px;
    height: 299px;
    padding: 20px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}




.lang-box-1 img{
    padding-left: 20px;
    padding-bottom: 30px;
}
.lang-box-2 img{
    padding-left: 20px;
    padding-bottom: 30px;
}
.lang-box-3 img{
    padding-left: 20px;
    padding-bottom: 30px;
}
.lang-box-h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    padding-left: 20px;
}
.lang-box-p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
padding-bottom: 30px;
padding-left: 20px;
padding-top: 10px;
}

.lang-learn-more{
font-family: Azeret Mono;
font-size: 16px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
padding: 12px 20px 12px 20px;
color: rgb(13, 19, 33);
}



.target-tech{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width: 1050px;
    height: 200px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-left: 100px;
    margin-right: 120px;
    margin-bottom: 30px;
}
.tech-img{
    padding: 30px;
}
.tech-h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    padding: 10px;
}
.tech-p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    padding: 10px;
}

.tech-link{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    padding: 10px;
}

.support-section{
    background-image: url(../assets/handshake.jpg);
    background-size:cover;
    width: 1000px;
    height: 350px;
    margin-bottom: 20px;
    margin-left: 120px;
    margin-right: 100px;
    border-radius: 16px;

    }
    .input-field{
        width: 548px;
        height: 57px;
        box-sizing: border-box;
        border: 1px solid rgba(13, 19, 33, 0.15);
        border-radius: 8px;
        margin-left: 50px;
        padding-left: 10px;
        margin-top: 30px;
        background: rgb(255, 255, 255);
    }
.support-button{
    width: 120px;
    height: 57px;
    border: none;
    border-radius: 8px;
    padding: 17px 20px 17px 20px;
    margin-left: 20px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}




.support{
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: center;
padding-top: 60px;
}
.support-p{
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
padding-top: 20px;
padding-right: 150px;
padding-left: 150px;
}

footer{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    background: rgba(13, 19, 33, 0.03);
}

.footer-h3{
    padding: 20px;
    margin-left: 100px;
    font-weight: 600;
}
.tech-account{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
    margin-right: 100px;
}

.common-h2{
 color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
padding-top: 50px;

}


.common-p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 34px;
    margin-bottom: 100px;
    
    }


.target-p{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin-top: 34px;
margin-bottom: 100px;
margin-right: 250px;
margin-left: 250px;
}